<nav
  class="z-100 fixed w-full bg-zinc-300 border-amber-800 border-b-2 dark:bg-zinc-900 p-4"
>
  <div class="container mx-auto flex justify-between flex-wrap">
    <a
      routerLink="/"
      class="flex items-center space-x-3 rtl:space-x-reverse flex-grow"
    >
      <span
        class="self-center text-md lg:text-xl font-semibold zinc-300 space-nowrap dark:text-zinc-300"
        >WebTech Meme Museum</span
      >
    </a>
    <dark-mode-toggle class="lg:order-1" />
    <button
      (click)="toggle()"
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-1 w-7 h-7 justify-center text-sm text-zinc-950 rounded-lg lg:hidden hover:bg-zinc-100 focus:outline-none focus:ring-2 focus:ring-zinc-200 dark:text-zinc-400 dark:hover:bg-zinc-700 dark:focus:ring-zinc-600 mx-2"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div
      [@openClose]="isMobile ? (isOpen ? 'open' : 'closed') : 'open'"
      class="z-100 w-full lg:block lg:w-1/2 {{
        this.authService.isUserAuthenticated() ? '' : 'w-1/3 xl:w-1/4'
      }}"
      id="navbar-default"
    >
      <ul
        class="font-semibold w-full flex flex-col p-4 lg:p-0 mt-4 border border-zinc-100 rounded-lg bg-zinc-50 lg:flex-row lg:justify-evenly rtl:space-x-reverse lg:mt-0 lg:border-0 lg:bg-zinc-300 dark:bg-zinc-800 lg:dark:bg-zinc-900 dark:border-zinc-700"
      >
        <li
          class="leading-7 {{
            isMobile
              ? 'border-b rounded border-amber-800 mb-2 dark:border-amber-800'
              : ''
          }}"
        >
          <a
            (click)="handleNavigationClick('memeOfTheDay', $event)"
            [routerLink]="['/memes', memeOfTheDayId]"
            routerLinkActive="bg-amber-700 hover:bg-amber-800 dark:hover:bg-amber-600 text-zinc-50 lg:text-amber-700 lg:dark:text-amber-500"
            class="block py-2 px-3 rounded lg:bg-transparent hover:bg-zinc-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-amber-700 lg:p-0 dark:text-zinc-300 lg:dark:hover:text-amber-500 dark:hover:bg-zinc-700 dark:hover:text-zinc-300 lg:dark:hover:bg-transparent"
            >Meme of the Day</a
          >
        </li>
        @if(! this.authService.isUserAuthenticated()){
        <li
          class="leading-7 {{
            isMobile
              ? 'border-b rounded border-amber-800 mb-2 dark:border-amber-800'
              : ''
          }}"
        >
          <a
            (click)="handleNavigationClick()"
            routerLink="/login"
            routerLinkActive="bg-amber-700 hover:bg-amber-800 dark:hover:bg-amber-600 text-zinc-50 lg:text-amber-700 lg:dark:text-amber-500"
            class="block py-2 px-3 rounded lg:bg-transparent hover:bg-zinc-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-amber-700 lg:p-0 dark:text-zinc-300 lg:dark:hover:text-amber-500 dark:hover:bg-zinc-700 dark:hover:text-zinc-300 lg:dark:hover:bg-transparent"
            >Login</a
          >
        </li>
        <li
          class="leading-7 {{
            isMobile
              ? 'border-b rounded border-amber-800 mb-2 dark:border-amber-800'
              : ''
          }}"
        >
          <a
            (click)="handleNavigationClick()"
            routerLink="/signup"
            routerLinkActive="bg-amber-700 hover:bg-amber-800 dark:hover:bg-amber-600 text-zinc-50 lg:text-amber-700 lg:dark:text-amber-500"
            class="block py-2 px-3 rounded lg:bg-transparent hover:bg-zinc-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-amber-700 lg:p-0 dark:text-zinc-300 lg:dark:hover:text-amber-500 dark:hover:bg-zinc-700 dark:hover:text-zinc-300 lg:dark:hover:bg-transparent"
            >Sign up</a
          >
        </li>
        } @else {
        <!-- this is gonna be potentially replaced with a proper profile page -->
        <li
          class="leading-7 {{
            isMobile
              ? 'border-b rounded border-amber-800 mb-2 dark:border-amber-800'
              : ''
          }}"
        >
          <a
            (click)="handleNavigationClick()"
            [routerLink]="['/memes/search']"
            [queryParams]="{ userId: this.authService.getUserId() }"
            routerLinkActive="{{
              this.authService.getUserId() ===
              this.activeRoute.snapshot.queryParams['userId']
                ? 'bg-amber-700 hover:bg-amber-800 dark:hover:bg-amber-600 text-zinc-50 lg:text-amber-700 lg:dark:text-amber-500'
                : ''
            }}"
            class="block py-2 px-3 text-zinc-900 rounded lg:bg-transparent hover:bg-zinc-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-amber-700 lg:p-0 dark:text-zinc-300 lg:dark:hover:text-amber-500 dark:hover:bg-zinc-700 dark:hover:text-zinc-300 lg:dark:hover:bg-transparent"
            >My Memes</a
          >
        </li>
        <li
          class="leading-7 {{
            isMobile
              ? 'border-b rounded border-amber-800 mb-2 dark:border-amber-800'
              : ''
          }}"
        >
          <a
            (click)="handleNavigationClick()"
            routerLink="/memes/create"
            routerLinkActive="bg-amber-700 hover:bg-amber-800 dark:hover:bg-amber-600 text-zinc-50 lg:text-amber-700 lg:dark:text-amber-500"
            class="block py-2 px-3 rounded lg:bg-transparent hover:bg-zinc-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-amber-700 lg:p-0 dark:text-zinc-300 lg:dark:hover:text-amber-500 dark:hover:bg-zinc-700 dark:hover:text-zinc-300 lg:dark:hover:bg-transparent"
            >Create Meme</a
          >
        </li>
        <li
          class="leading-7 {{
            isMobile
              ? 'border-b rounded border-amber-800 mb-2 dark:border-amber-800'
              : ''
          }}"
        >
          <a
            (click)="handleNavigationClick('logout')"
            routerLinkActive="bg-amber-700 hover:bg-amber-800 dark:hover:bg-amber-600 text-zinc-300 lg:text-amber-700 lg:dark:text-amber-500"
            class="block py-2 px-3 text-zinc-900 rounded lg:bg-transparent hover:bg-zinc-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-amber-700 lg:p-0 dark:text-zinc-300 lg:dark:hover:text-amber-500 dark:hover:bg-zinc-700 dark:hover:text-zinc-300 lg:dark:hover:bg-transparent"
            >Welcome, {{ this.authService.user() }} (log out)</a
          >
        </li>

        }
      </ul>
    </div>
  </div>
</nav>
