<section class="mt-20 md:mt-10">
  <h1 class="text-5xl lg:text-7xl text-center md:text-7xl dark:text-zinc-300">
    {{memeId ? `Edit ${ogTitle}` : 'Create a Meme'}}
  </h1>
  <div
    class="px-10 w-full mx-auto h-full min-h-screen flex flex-col items-center justify-start mt-4"
  >
    <label
      for="title"
      class="text-zinc-950 dark:text-zinc-300 w-full text-start"
      >Title</label
    >
    <input
      type="text"
      id="title"
      [(ngModel)]="title"
      class="m-4 w-full px-4 py-2 rounded-lg border border-zinc-300 focus:outline-none focus:ring-2 focus:ring-amber-500 bg-zinc-50 dark:bg-zinc-800 dark:border-zinc-600 dark:text-zinc-300 shadow-md"
      placeholder="Enter meme title"
    />

    @if(!previewUrl) {

    <div class="relative my-8">
      <input
        type="file"
        id="fileInput3"
        (change)="onFileSelected($event)"
        class="absolute inset-0 w-full h-full opacity-0 cursor-pointer z-10"
        accept="image/png, image/jpeg, image/gif, image/jpg"
      />
      <div
        class="hover:border-amber-600 bg-zinc-300 dark:bg-zinc-800 dark:border-2 dark:border-zinc-600 shadow-md rounded-lg p-8 text-center hover:bg-zinc-700 transition-all duration-300 cursor-pointer"
      >
        <fa-icon
          [icon]="icons.image"
          class="text-xl md:text-4xl text-amber-600 mb-4"
        ></fa-icon>
        <p
          class="dark:text-zinc-50 text-zinc-950 text-sm md:text-md font-medium"
        >
          Seleziona immagine
        </p>
        <p class="text-xs md:text-sm text-zinc-900 dark:text-zinc-400 mt-2">
          Formati supportati: PNG, JPG, JPEG, GIF
        </p>
        <p
          class="text-xs mt-4 {{
            fileError ? 'text-red-500' : 'text-zinc-950 dark:text-zinc-300'
          }}"
        >
          L'immagine deve essere superiore a 5 MB.
        </p>
      </div>
    </div>
    } @else{
    <div class="relative md:w-1/2 h-auto my-8">
      <img
        [src]="previewUrl"
        alt="Preview"
        class="w-full md:w-auto h-auto md:h-[50vh] mx-auto rounded-lg mb-2 shadow-md border-2 border-zinc-700 rounded-lg"
      />
      @if(!memeId){<button
        class="absolute bg-transparent w-8 h-8 flex items-center justify-center border-1 text-red-200 hover:text-white hover:bg-red-500 border-red-500 rounded-full top-2 right-4 hover:text-zinc-800 dark:hover:text-zinc-300"
        type="button"
        (click)="previewUrl = null"
      >
        <fa-icon [icon]="icons.close"></fa-icon></button
      >}
    </div>
    }
    <label
      for="description"
      class="text-zinc-950 dark:text-zinc-300 w-full text-start"
    >
      Description
    </label>
    <textarea
      id="description"
      [(ngModel)]="description"
      class="m-4 w-full px-4 py-4 rounded-lg border border-zinc-300 focus:outline-none focus:ring-2 focus:ring-amber-500 bg-zinc-50 dark:bg-zinc-800 dark:border-zinc-600 dark:text-zinc-300 shadow-md"
      placeholder="Enter meme description"
      rows="4"
    ></textarea>
    <div class="mx-auto m-4 w-full">
      <label
        for="tagInput"
        class="block mb-2 font-semibold text-zinc-950 dark:text-zinc-300"
      >
        Tags (divide with commas or spaces):</label
      >
      <div
        class="flex focus:ring-2 items-center gap-2 border border-zinc-300 dark:border-zinc-600 rounded-lg dark:bg-zinc-800"
      >
        <div
          class="flex overflow-x-auto whitespace-nowrap w-62/100 md:w-9/10 items-center gap-2 pl-2"
        >
          @for (tag of tags; track tag; let i = $index) {
          <span
            class="bg-amber-600 text-zinc-50 px-2 py-1 rounded-full text-sm flex items-center gap-1"
          >
            {{ tag }}
            <button type="button" (click)="removeTag(i)" class="text-xs ml-1">
              &times;
            </button> </span
          >}
          <input
            [(ngModel)]="currentTag"
            (keydown)="handleKey($event)"
            placeholder="Add tags..."
            class="flex-1 text-md border-none focus:outline-none bg-transparent dark:text-zinc-300"
          />
        </div>

        <button
          class="px-4 py-2 w-38/100 md:w-1/10 text-md rounded-r-lg bg-red-500 text-zinc-50 font-semibold hover:bg-red-600 transition"
          type="button"
          (click)="tags = []; currentTag = ''"
        >
          Clear tags
        </button>
      </div>
    </div>
    <button
      (click)="handleSubmit($event)"
      class="my-8 px-6 py-3 bg-amber-600 text-zinc-50 font-semibold rounded-lg hover:bg-amber-700 transition disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-amber-600"
      [disabled]="!title || !previewUrl || fileError"
    >
      {{ memeId ? "Edit" : "Create" }} Meme
    </button>
  </div>
</section>
