<div class="min-h-screen mt-20 md:mt-10">
  <div class="w-full px-4 mx-auto flex items-center justify-end">
    <button
      class="w-8 h-8 flex items-center justify-center border-1 hover:bg-red-500 border-red-500 rounded-full top-2 right-8 text-red-100 hover:text-zinc-800 dark:hover:text-zinc-300 bg-white dark:bg-zinc-800"
      type="button"
      (click)="goBack()"
    >
      <fa-icon [icon]="icons.close"></fa-icon>
    </button>
  </div>

  <div class="mx-auto w-95/100">
    <h1
      class="line-clamp-3 md:line-clamp-2 mx-4 text-3xl md:text-5xl lg:text-7xl font-bold mt-10 text-zinc-900 dark:text-zinc-300"
    >
      {{ meme?.title }}
    </h1>
    <h2
      class="text-2xl md:text-4xl text-zinc-900 dark:text-zinc-300 ml-8 truncate"
    >
      by {{ meme?.User?.userName || "" }}
    </h2>
  </div>

  <div
    data-testid="meme-close-up"
    class="relative my-4 p-2 md:p-4 w-9/10 sm:w-95/100 2xl:w-3/5 mx-auto bg-white dark:bg-zinc-800 rounded-lg shadow-md text-zinc-900 dark:text-zinc-300"
  >
    @if(this.authService.getUserId() === meme?.User?.id){
    <div class="absolute top-2 right-2 flex space-x-2">
      <button
        class="absolute w-6 h-6 rounded-full top-6 right-12 bg-zinc-100/70 border-zinc-400 border text-zinc-500 hover:text-amber-500"
        type="button"
        (click)="editMeme($event)"
      >
        <fa-icon [icon]="icons.edit"></fa-icon>
      </button>
      <button
        class="ml-4 absolute w-6 h-6 rounded-full top-6 bg-zinc-100/70 border-zinc-400 border right-4 text-zinc-500 hover:text-red-500"
        type="button"
        (click)="deleteMeme($event)"
      >
        <fa-icon [icon]="icons.delete"></fa-icon>
      </button>
    </div>
    }
    <img
      [src]="meme?.filePath"
      [alt]="meme?.title"
      class="mx-auto w-auto h-auto sm:h-[50vh] rounded-lg"
      data-testid="meme-image"
    />
    <p
      class="mt-4 text-md md:text-xl text-justify {{
        showFullDcp ? '' : 'line-clamp-5'
      }}"
    >
      {{ meme?.description }}
    </p>
    <span
      (click)="toggleShowFullDcp()"
      class="lg:hidden mb-4 font-bold italic text-amber-300 hover:text-amber-400 underline"
      >read {{ showFullDcp ? "less" : "more" }}</span
    >
    <app-card-info
      [tags]="meme?.tags || []"
      [vote]="liked()"
      [upvotesNumber]="meme?.upvotesNumber || 0"
      [downvotesNumber]="meme?.downvotesNumber || 0"
      [commentsNumber]="totalNumberOfComments() || 0"
      (upvoteClick)="handleUpvoteClick()"
      (downvoteClick)="handleDownvoteClick()"
      (commentTextSubmit)="handleCommentSubmit($event)"
    ></app-card-info>
  </div>
  <app-comment-list
    [comments]="comments()"
    [totalNumberOfComments]="totalNumberOfComments()"
    (loadMoreComments)="loadMore()"
    (commentDeleted)="commentDeleted($event)"
  ></app-comment-list>
</div>
